body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

#menu, footer{
    background: rgb(86, 87, 87);
}

iframe{
    width: 100;
}
img{
    cursor: pointer;
}